## Case 2

In [74]:
import sys
sys.path.append('C:\\Users\\INDIA\\Rahul_work\\functions')
import pandas as pd
from datetime import datetime
from stock_data import fetch_stock_data
from determine_entry_point import process_stock_data
from tvDatafeed import TvDatafeed,Interval
import time
import math

In [78]:
def fetch_case2_satisfied_symbols(symbols_path, retry_delay=1):
    symbols = pd.read_csv(symbols_path)

    satisfied_case2_symbols = pd.DataFrame(columns=['symbol', 'price_at_scan', 'high', 'low', 'volume_at_scan', 'avg_31_day_vol'])
    
    for symbol in symbols.symbol:
        fifteen_min_data = None
        today_data = None

        while fifteen_min_data is None or fifteen_min_data.empty:
            try:
                fifteen_min_data = fetch_stock_data(symbol, interval=Interval.in_15_minute, n_bars=775)
                if fifteen_min_data is None:
                    raise ValueError("Fetched data is None")
            except Exception as e:
                print(f"Error fetching data for {symbol}: {e}")
                time.sleep(retry_delay)
                continue

        today_date = str(datetime.today().date())
        filtered_df = fifteen_min_data[~(fifteen_min_data.index.date == pd.to_datetime(today_date).date())] # remove today's 15min data 
        selected_rows = filtered_df.between_time('09:15:00', '10:30:00') 
        daily_volumes = selected_rows.groupby(selected_rows.index.date)['volume'].sum()
        avg_31 = daily_volumes.mean()
        more_than_30_percent = avg_31 + (0.3 * avg_31)

        while today_data is None:
            try:
                today_data = fetch_stock_data(symbol, interval=Interval.in_daily, n_bars=1)
                if today_data is None:
                    raise ValueError("Fetched data is None")
            except Exception as e:
                print(f"Error fetching daily data for {symbol}: {e}")
                time.sleep(retry_delay)
                continue
        
        today_close = today_data['close'][0]
        today_high = today_data['high'][0]
        today_low = today_data['low'][0]
        today_vol = today_data['volume'][0]
        
        if today_close > 5000:
            continue
            
        today_perc_change = abs((today_data['close'][0] - today_data['open'][0]) / today_data['open'][0] * 100)
        
        if more_than_30_percent < today_vol and today_perc_change < 2:
            transaction_type = ''
            if today_data['open'][0] < today_close:
                transaction_type = 'BUY'
            else:
                transaction_type = 'SELL'
                
            new_row = pd.DataFrame({
                'symbol': [symbol], 
                'price_at_scan': [today_close],
                'high': [today_high],
                'low': [today_low],
                'volume_at_scan': [today_vol],
                'avg_31_day_vol': [round(avg_31)],
                'type': [transaction_type]
            })
            satisfied_case2_symbols = pd.concat([satisfied_case2_symbols, new_row], ignore_index=True)
 
    return satisfied_case2_symbols

In [67]:
symbols_path = "Preparing data/symbols.csv"
satisfied_case2_symbols = fetch_case2_satisfied_symbols(symbols_path)

ERROR:tvDatafeed.main:Connection is already closed.
ERROR:tvDatafeed.main:no data, please check the exchange and symbol

Error fetching daily data for ADANIENT: Fetched data is None

ERROR:tvDatafeed.main:Connection is already closed.
ERROR:tvDatafeed.main:no data, please check the exchange and symbol

Error fetching daily data for BAJAJ_AUTO: Fetched data is None

ERROR:tvDatafeed.main:Connection is already closed.
ERROR:tvDatafeed.main:no data, please check the exchange and symbol

Error fetching data for BPCL: Fetched data is None

In [68]:
satisfied_case2_symbols

,symbol,price_at_scan,high,low,volume_at_scan,avg_31_day_vol,type
0,ASIANPAINT,2910.50,2927.00,2886.20,1145447.0,459416,BUY
1,BHARTIARTL,1440.65,1475.60,1438.50,2885552.0,2036133,SELL
2,CIPLA,1504.65,1511.30,1485.00,1961457.0,491690,BUY
3,COALINDIA,495.30,499.40,485.10,5255085.0,3075403,BUY
4,DIVISLAB,4520.50,4579.30,4501.45,293596.0,145002,BUY
5,EICHERMOT,4904.90,4942.30,4879.00,271683.0,170802,SELL
6,HCLTECH,1581.15,1598.00,1576.85,1724820.0,1268136,SELL
7,HDFCBANK,1597.55,1621.00,1588.05,20883998.0,6915846,SELL
8,HINDUNILVR,2711.55,2757.45,2675.10,3018757.0,549761,SELL
9,ICICIBANK,1212.25,1233.65,1202.05,12663010.0,3935464,SELL
10,INDUSINDBK,1395.00,1412.50,1390.10,3782313.0,1088639,SELL
11,INFY,1829.50,1842.35,1819.60,3711462.0,2678842,SELL
12,ITC,491.90,510.65,490.65,36106577.0,4087387,SELL
13,JSWSTEEL,882.75,895.00,880.60,1167532.0,589015,SELL
14,KOTAKBANK,1742.05,1780.90,1729.05,5221631.0,1702628,SELL
15,LT,3510.90,3557.95,3501.00,2261543.0,765160,SELL
16,M_M,2786.00,2830.40,2763.65,1731219.0,1026812,SELL
17,NESTLEIND,2549.35,2581.00,2518.70,1119439.0,180840,SELL
18,NTPC,389.55,393.30,381.70,28020941.0,5128115,BUY
19,POWERGRID,336.75,338.80,330.30,9058276.0,4398101,BUY
20,RELIANCE,2983.65,3019.00,2952.80,4198717.0,1724708,BUY
21,SBILIFE,1610.00,1650.00,1579.65,1686636.0,314144,BUY
22,SBIN,851.10,868.00,847.20,13074204.0,5025012,SELL
23,SHRIRAMFIN,2692.55,2760.00,2690.00,688555.0,445980,SELL
24,SUNPHARMA,1621.50,1624.95,1592.00,2226774.0,418933,BUY
25,TATASTEEL,160.48,162.02,159.19,20867108.0,13043525,BUY
26,TCS,4299.45,4339.10,4268.10,1245001.0,858877,BUY
27,TITAN,3494.25,3552.50,3462.15,3301399.0,509237,BUY

In [75]:
process_stock_data(satisfied_case2_symbols)

,symbol,price_at_scan,high,low,volume_at_scan,avg_31_day_vol,type,range
0,ASIANPAINT,2910.50,2927.00,2886.20,1145447.0,459416,BUY,2927.00
1,BHARTIARTL,1440.65,1475.60,1438.50,2885552.0,2036133,SELL,1438.50
2,CIPLA,1504.65,1511.30,1485.00,1961457.0,491690,BUY,1511.30
3,COALINDIA,495.30,499.40,485.10,5255085.0,3075403,BUY,500.00
4,DIVISLAB,4520.50,4579.30,4501.45,293596.0,145002,BUY,4600.00
5,EICHERMOT,4904.90,4942.30,4879.00,271683.0,170802,SELL,4879.00
6,HCLTECH,1581.15,1598.00,1576.85,1724820.0,1268136,SELL,1576.85
7,HDFCBANK,1597.55,1621.00,1588.05,20883998.0,6915846,SELL,1588.05
8,HINDUNILVR,2711.55,2757.45,2675.10,3018757.0,549761,SELL,2675.10
9,ICICIBANK,1212.25,1233.65,1202.05,12663010.0,3935464,SELL,1200.00
10,INDUSINDBK,1395.00,1412.50,1390.10,3782313.0,1088639,SELL,1390.10
11,INFY,1829.50,1842.35,1819.60,3711462.0,2678842,SELL,1819.60
12,ITC,491.90,510.65,490.65,36106577.0,4087387,SELL,490.00
13,JSWSTEEL,882.75,895.00,880.60,1167532.0,589015,SELL,880.60
14,KOTAKBANK,1742.05,1780.90,1729.05,5221631.0,1702628,SELL,1729.05
15,LT,3510.90,3557.95,3501.00,2261543.0,765160,SELL,3500.00
16,M_M,2786.00,2830.40,2763.65,1731219.0,1026812,SELL,2763.65
17,NESTLEIND,2549.35,2581.00,2518.70,1119439.0,180840,SELL,2500.00
18,NTPC,389.55,393.30,381.70,28020941.0,5128115,BUY,393.30
19,POWERGRID,336.75,338.80,330.30,9058276.0,4398101,BUY,340.00
20,RELIANCE,2983.65,3019.00,2952.80,4198717.0,1724708,BUY,3019.00
21,SBILIFE,1610.00,1650.00,1579.65,1686636.0,314144,BUY,1650.00
22,SBIN,851.10,868.00,847.20,13074204.0,5025012,SELL,847.20
23,SHRIRAMFIN,2692.55,2760.00,2690.00,688555.0,445980,SELL,2690.00
24,SUNPHARMA,1621.50,1624.95,1592.00,2226774.0,418933,BUY,1624.95
25,TATASTEEL,160.48,162.02,159.19,20867108.0,13043525,BUY,162.02
26,TCS,4299.45,4339.10,4268.10,1245001.0,858877,BUY,4339.10
27,TITAN,3494.25,3552.50,3462.15,3301399.0,509237,BUY,3552.50

In [76]:
satisfied_case2_symbols.to_csv('case2.csv', index=False)