### Buy Transaction: If the price crosses the day's high.

In [1]:
from tvDatafeed import TvDatafeed,Interval
from plotly.subplots import make_subplots

In [2]:
# get credentials for tradingview
username = 'bharathd7900'
password = 'TradeView@2024'

In [3]:
tv = TvDatafeed(username=username, password=password)

In [10]:
data=tv.get_hist('INFY','NSE',interval=Interval.in_daily,n_bars=1)
data

                       symbol    open    high      low   close     volume
datetime
2024-03-13 09:15:00  NSE:INFY  1612.9  1624.5  1598.55  1604.9  3770365.0

In [21]:
data.iloc[0]['close']

1604.9

In [30]:
data=tv.get_hist('INFY','NSE',interval=Interval.in_daily,n_bars=1)
if data.iloc[0]['close'] > data.iloc[0]['high']:
    print("BUY")
elif data.iloc[0]['close'] < data.iloc[0]['low']:
    print("SHORT")
else:
    print("No Entry")

No Entry

In [33]:
data[['high', 'low', 'close']]

                       high      low   close
datetime
2024-03-13 09:15:00  1624.5  1598.55  1614.0

In [ ]:
number = 120
if data['close'] >= 100 and data['close'] <= 200:
    
    buy_range(number, value_range):

In [15]:
value_range = [100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200]
number = 122

In [41]:
def buy_range(number, value_range):
    # Calculate absolute differences
    differences = [abs(number - value) for value in value_range]
    # Find the index of the minimum difference
    min_index = differences.index(min(differences))
    # Retrieve the corresponding value from the range
    nearest_value = value_range[min_index]
    print(nearest_value)

In [ ]:
number = 120
while( number >= 100 and number <= 200):
    if number in value_range:
        buy = number
return buy
#     buy_range(number, value_range)

In [40]:
0.01*120

1.2

In [ ]:
121.2

In [32]:
def find_range(input_number, value_range, vol_type):
    # If current high is in value range returns buy range as current high value
    if input_number in value_range: 
        return input_number

    # Iterate through pairs of numbers in the range
    for i in range(len(value_range) - 1):
        # Check if input_number falls within the range
        if input_number >= value_range[i] and input_number <= value_range[i+1]:
            # If vol_type is 'BUY', return the maximum of the two numbers
            if vol_type == 'BUY':
                return max(value_range[i], value_range[i+1])
            # If vol_type is 'SELL', return the minimum of the two numbers
            else:
                return min(value_range[i], value_range[i+1])

In [33]:
find_range(120, value_range,'BUY')

120

In [9]:
input_number = 120
for i in range(len(value_range) - 1):
    if input_number == value_range[i]:
        return input_number

SyntaxError: 'return' outside function (2373962684.py, line 4)